<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.Instand.SolarSystem"
          android:versionName="4.0.0"
          android:versionCode="1"
          android:installLocation="auto">

    <uses-sdk android:minSdkVersion="28"
              android:targetSdkVersion="35"/>

    <supports-screens android:largeScreens="true"
                      android:normalScreens="true"
                      android:anyDensity="true"
                      android:smallScreens="true"/>

    <application android:name="org.qtproject.qt.android.bindings.QtApplication"
                 android:label="SolarSystem"
                 android:icon="@drawable/icon"
                 android:extractNativeLibs="true"
                 android:hardwareAccelerated="true">

        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="SolarSystem"
                  android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape"
                  android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.lib_name"
                       android:value="SolarSystem"/>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>